body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

.container {
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

button {
    padding: 10px 15px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#taskList {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.deleteBtn {
    color: red;
    cursor: pointer;
}